PORT=3334
HOST=0.0.0.0
NODE_ENV=development

DATABASE_URL="postgresql://user:password@localhost:5432/librarys_potter?schema=public"

JWT_SECRET="change-me"
JWT_EXPIRES_IN="7d"

CORS_ORIGIN="http://localhost:5174"
